In [1]:
import pandas as pd
import numpy as np

# Read a comma-separated values (csv) file into DataFrame.

The data folder contains a file named "newark_tree_data.csv". Read this file into a dataframe.


resources:
* [Pandas read csv docs](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html#pandas.read_csv)

In [2]:
# Create DataFrame here.
df = pd.read_csv("newark_tree_data.csv")

In [3]:
# Display the first few rows of the DataFrame here.
df.head(10)

,ID,ON,AREA,ADDRESS,STREET,SITE,SIDE,ASSIGNED,COMMON,BOTANICAL,...,IMPROPMULC,IMPROPPRUN,NUTRIENTD,PEST,GIRDLING,STRESS,OHUTILITY,TOP_HEIGHT,CROWN_M,CROWN_DIE
0,11.0,Elan Park,Elan Park,2,Blue Hen Rg,11.0,Front,False,"arborvitae, eastern",Thuja occidentalis,...,False,False,False,False,False,False,No,40,0-5%,0-5%
1,12.0,Elan Park,Elan Park,2,Blue Hen Rg,12.0,Front,False,"arborvitae, eastern",Thuja occidentalis,...,False,False,False,False,False,False,No,41,0-5%,0-5%
2,13.0,Elan Park,Elan Park,2,Blue Hen Rg,13.0,Front,False,"pine, eastern white",Pinus strobus,...,False,False,False,False,True,False,No,54,0-5%,6-10%
3,14.0,Elan Park,Elan Park,2,Blue Hen Rg,14.0,Front,False,"whitecedar, Atlantic",Chamaecyparis thyoides,...,False,False,False,False,True,False,No,57,11-15%,26-30%
4,15.0,Elan Park,Elan Park,2,Blue Hen Rg,15.0,Front,False,"whitecedar, Atlantic",Chamaecyparis thyoides,...,False,False,False,False,True,False,No,55,11-15%,21-25%
5,16.0,Elan Park,Elan Park,2,Blue Hen Rg,16.0,Front,False,"pine, eastern white",Pinus strobus,...,False,False,False,False,True,False,No,55,6-10%,16-20%
6,17.0,Elan Park,Elan Park,2,Blue Hen Rg,17.0,Front,False,"whitecedar, Atlantic",Chamaecyparis thyoides,...,False,False,False,False,True,False,No,55,21-25%,31-35%
7,18.0,Elan Park,Elan Park,2,Blue Hen Rg,18.0,Front,False,"pine, eastern white",Pinus strobus,...,False,False,False,False,True,False,No,55,11-15%,11-15%
8,19.0,Elan Park,Elan Park,2,Blue Hen Rg,19.0,Front,False,"arborvitae, eastern",Thuja occidentalis,...,False,False,False,False,False,False,No,56,11-15%,16-20%
9,20.0,Elan Park,Elan Park,2,Blue Hen Rg,20.0,Front,False,"arborvitae, eastern",Thuja occidentalis,...,False,False,False,False,True,False,No,55,6-10%,11-15%

In [7]:
# How many columns does the DataFrame contain?
df

,ID,ON,AREA,ADDRESS,STREET,SITE,SIDE,ASSIGNED,COMMON,BOTANICAL,...,IMPROPMULC,IMPROPPRUN,NUTRIENTD,PEST,GIRDLING,STRESS,OHUTILITY,TOP_HEIGHT,CROWN_M,CROWN_DIE
0,11.0,Elan Park,Elan Park,2,Blue Hen Rg,11.0,Front,False,"arborvitae, eastern",Thuja occidentalis,...,False,False,False,False,False,False,No,40,0-5%,0-5%
1,12.0,Elan Park,Elan Park,2,Blue Hen Rg,12.0,Front,False,"arborvitae, eastern",Thuja occidentalis,...,False,False,False,False,False,False,No,41,0-5%,0-5%
2,13.0,Elan Park,Elan Park,2,Blue Hen Rg,13.0,Front,False,"pine, eastern white",Pinus strobus,...,False,False,False,False,True,False,No,54,0-5%,6-10%
3,14.0,Elan Park,Elan Park,2,Blue Hen Rg,14.0,Front,False,"whitecedar, Atlantic",Chamaecyparis thyoides,...,False,False,False,False,True,False,No,57,11-15%,26-30%
4,15.0,Elan Park,Elan Park,2,Blue Hen Rg,15.0,Front,False,"whitecedar, Atlantic",Chamaecyparis thyoides,...,False,False,False,False,True,False,No,55,11-15%,21-25%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4188,4189.0,New London Rd,New London Road on EAST side North of Clevelan...,124,New London Rd,1.0,Front,False,Japanese pagodatree,Styphnolobium japonicum,...,False,False,False,False,False,False,No,50,16-20%,6-10%
4189,4190.0,New London Rd,New London Road on EAST side North of Clevelan...,126,New London Rd,1.0,Front,False,"oak, sawtooth",Quercus acutissima,...,False,False,False,False,False,False,No,55,11-15%,6-10%
4190,4191.0,New London Rd,New London Road on EAST side North of Clevelan...,126,New London Rd,2.0,Front,False,Japanese pagodatree,Styphnolobium japonicum,...,False,False,False,False,False,False,No,45,16-20%,11-15%
4191,4192.0,Old Paper Mill Rd,Old Paper Mill Road Park,0,Old Paper Mill Rd,1.0,Front,False,"sycamore, American",Platanus occidentalis,...,False,False,False,False,False,False,No,80,21-25%,6-10%
4192,4193.0,Old Paper Mill Rd,Old Paper Mill Road Park,0,Old Paper Mill Rd,2.0,Front,False,"ash, white",Fraxinus americana,...,False,False,False,False,False,True,No,70,21-25%,11-15%

In [6]:
# What attributes (columns) does this DataFrame contain?
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4193 entries, 0 to 4192
Data columns (total 54 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          4193 non-null   float64
 1   ON          4193 non-null   object
 2   AREA        4169 non-null   object
 3   ADDRESS     4193 non-null   int64
 4   STREET      4193 non-null   object
 5   SITE        4193 non-null   float64
 6   SIDE        4193 non-null   object
 7   ASSIGNED    4193 non-null   bool
 8   COMMON      4193 non-null   object
 9   BOTANICAL   4193 non-null   object
 10  CULTIVAR    113 non-null    object
 11  DBH         4193 non-null   float64
 12  REMOVAL     434 non-null    object
 13  STEMS       4193 non-null   float64
 14  COND        4087 non-null   object
 15  MAINTPRIM   101 non-null    object
 16  OBSERVE     0 non-null      float64
 17  INSPECT     4193 non-null   bool
 18  LOCATION    4193 non-null   object
 19  NOTES       1114 non-null   object
 20  DATE        4193 non-null   object
 21  TIME        4193 non-null   object
 22  STAFF       4193 non-null   object
 23  XCOORD      4193 non-null   float64
 24  YCOORD      4193 non-null   float64
 25  FAILURE     4087 non-null   object
 26  LIKELIHOOD  4087 non-null   object
 27  TARGET      4087 non-null   object
 28  CONSEQ      4087 non-null   object
 29  RISK        4087 non-null   object
 30  UNIQUEID    4193 non-null   object
 31  EDITTIME    4193 non-null   object
 32  SPREAD      4193 non-null   int64
 33  HEIGHT      4193 non-null   int64
 34  CLEARANCE   36 non-null     object
 35  DECAYCL     4193 non-null   bool
 36  DECAYT      4193 non-null   bool
 37  DECAYRF     4193 non-null   bool
 38  DAMC        4193 non-null   bool
 39  DAMT        4193 non-null   bool
 40  DAMRF       4193 non-null   bool
 41  CAVITYCL    4193 non-null   bool
 42  CAVITYT     4193 non-null   bool
 43  CAVITYRF    4193 non-null   bool
 44  IMPROPMULC  4193 non-null   bool
 45  IMPROPPRUN  4193 non-null   bool
 46  NUTRIENTD   4193 non-null   bool
 47  PEST        4193 non-null   bool
 48  GIRDLING    4193 non-null   bool
 49  STRESS      4193 non-null   bool
 50  OHUTILITY   4193 non-null   object
 51  TOP_HEIGHT  4193 non-null   int64
 52  CROWN_M     4187 non-null   object
 53  CROWN_DIE   4185 non-null   object
dtypes: bool(17), float64(7), int64(4), object(26)
memory usage: 1.3+ MB

Upon reviewing the columns of the DataFrame, we see that there is already a column named ID that is well suited for an index column.  

For the purposes of this lab, we are only going to need a few of the available attributes. The attributes we wish to keep are listed below:
* ID
* UNIQUEID
* COMMON
* BOTANICAL
* COND
* RISK
* HEIGHT

Let's provide the index_col and the usecols args when we invoke the read_csv method.

In [10]:
# Create the new DataFrame here.
df2 = pd.read_csv("newark_tree_data.csv", index_col=0, usecols=['UNIQUEID', 'COMMON', 'BOTANICAL', 'COND', 'RISK', 'HEIGHT'])

In [11]:
# Display the first few rows of the new DataFrame here.
df2.head(10)

,BOTANICAL,COND,RISK,UNIQUEID,HEIGHT
COMMON,,,,,
"arborvitae, eastern",Thuja occidentalis,Good,Low,LM 20150929141218,40
"arborvitae, eastern",Thuja occidentalis,Very Good,Low,LM 20150929141418,40
"pine, eastern white",Pinus strobus,Good,Low,LM 20150929141844,54
"whitecedar, Atlantic",Chamaecyparis thyoides,Fair,Low,LM 20150929142424,56
"whitecedar, Atlantic",Chamaecyparis thyoides,Fair,Low,LM 20150929143018,55
"pine, eastern white",Pinus strobus,Fair,Low,LM 20150929143352,55
"whitecedar, Atlantic",Chamaecyparis thyoides,Fair,Low,LM 20150929143905,55
"pine, eastern white",Pinus strobus,Fair,Low,LM 20150929144155,55
"arborvitae, eastern",Thuja occidentalis,Fair,Low,LM 20150929144438,55
"arborvitae, eastern",Thuja occidentalis,Fair,Low,LM 20150929144602,55

The data narritive specifies that 4,193 sites were inventoried. Use the DataFrame shape attribute to verify the number of rows.

In [12]:
# How many rows does your DataFrame contain.
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4193 entries, arborvitae, eastern to ash, white
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   BOTANICAL  4193 non-null   object
 1   COND       4087 non-null   object
 2   RISK       4087 non-null   object
 3   UNIQUEID   4193 non-null   object
 4   HEIGHT     4193 non-null   int64
dtypes: int64(1), object(4)
memory usage: 196.5+ KB

Let's look at the distribution of data for the HEIGHT attribute.

In [16]:
# What is the min height?
df2['HEIGHT'].min()

0

In [ ]:
# What is the max height?
df

In [ ]:
# How do we acquire count, mean, standard deviation, and distribution information from the DataFrame 
# by invoking a single method?

# Plot a histogram using the HEIGHT attribute. 

resources:
* [Magic commands](https://ipython.readthedocs.io/en/stable/interactive/magics.html)
* [Pandas Series Hist](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.plot.hist.html#pandas.Series.plot.hist)

In [ ]:
# Apply magic command to display matplotlib images inline

In [ ]:
# Create a histogram using the HEIGHT attribute here

The data narrative specifies the following:
"A total of 4,193 sites were inventoried, including 4,087 trees, 100 stumps, and 6 vacant planting sites"

Earlier, we were able to validate the total number of entries in the DataFrame. Let's now dig in a bit deeper and validate the stumps and vacant planting sites.

In [ ]:
# How many entries are stumps

In [ ]:
# How many entries are vacant sites

In [ ]:
# Do these number add up?

# Plot a bar graph using the COND attribute.

resources:
* [Pandas Series Bar](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.plot.bar.html#pandas.Series.plot.bar)

In [ ]:
# How can we determine all of the possible values describing the condition of a tree and their associated counts?

In [ ]:
# Were these already in the order you would want them to be in order for a graph to make sense? 
# If not, reorder  the Series.

In [ ]:
# Plot the Series here

In [ ]:
# How many entries have missing values for the COND attribute? Why are these values missing?

# Plot a pie chart using the RISK attribute.

resources:
* [Pandas Series Pie](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.plot.pie.html#pandas.Series.plot.pie)
* [matplotlib pie chart docs](https://matplotlib.org/api/pyplot_api.html#matplotlib.pyplot.pie)

In [ ]:
# How can we determine all of the possible values describing the RISK associated with each tree
# along with the corresponding row counts?

In [ ]:
# Create an array containing the colors green, yellow, and orange
# When we create our pie chart, the colors should be associated with the attributes according to the specifications below:
# Green -> Low
# Yellow -> Moderate
# Orange -> High

In [ ]:
# Plot the pie chart here

In [ ]:
# How many entries have missing values for the RISK attribute? Why are these values missing?

# Indexing

In [ ]:
# Display row by position 1

In [ ]:
# Display row by label 1